footer {
  background-color: #333;
  color: white;
  font-family: proxima-nova, Arial, sans-serif;

  details {
    border-bottom: 1px solid white;
    padding: 0 0 10px;
  }

  .section {
    margin: 0 auto;
    max-width: 540px;

    &.last-footer-section details {
      border-bottom: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: white;
      display: block;
      font-size: 14px;
      line-height: 2;
      text-decoration: none;
    }

    /* Footer Section Header */
    summary {
      font-family: proxima-nova-semi-bold, Arial, sans-serif;
      font-size: 13px;
      list-style: none;
      margin: 24px 0 14px;
      position: relative;
      text-transform: uppercase;

      &::-webkit-details-marker {
        display: none;
      }

      &::after {
        background-image: url('../../icons/icon-arrow-down.png');
        content: "";
        display: block;
        height: 10px;
        position: absolute;
        right: 0;
        top: 5px;
        width: 16px;
      }
    }

    details {
      &[open] > summary {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  .footer > div {
    margin: auto;
    padding: 40px 15px;
  }

  .footer p {
    margin: 0;
  }

  .footer ul li ul li a {
    display: inline;
  }

  .footer-middle {
    padding: 48px 0 16px;

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 10px;

      picture {
        img {
          height: 32px;
          width: 32px;
        }
      }
    }

    .footer-form {
      select {
        font-size: 16px;
        margin: 20px 0;
        padding: 10px;
        width: 100%;
      }

      .footer-country-dropdown p {
        font-size: 12px;
      }
    }
  }

  .footer-bottom {
    font-size: 12px;
    text-align: center;
  }
}

@media (width >= 900px) {
  footer .footer {
    > div {
      display: grid;
      flex-direction: row;
      gap: 10px;
      grid-template-columns: repeat(5, 1fr);
      margin: 0 auto;
      max-width: 1500px;
      padding: 40px 120px;
    }

    .section:not(.footer-middle):not(.footer-bottom) {
      margin: 0;
      width: 220px;

      summary {
        pointer-events: none;

        &::after {
          display: none;
        }
      }
    }

    details {
      border-bottom: none;
      border-top: 1px solid #797979;
    }

    .footer-extras {
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 20px;
      grid-column: 1/7;
    }

    .footer-bottom {
      max-width: none;
      text-align: left;

      p:first-of-type {
        margin-bottom: 0;
      }
    }

    .footer-middle {
      align-items: flex-start;
      display: flex;
      flex-direction: row-reverse;
      gap: 20px;

      li {
        margin: 0 5px;

        picture {
          img {
            height: 24px;
            width: 24px;
          }
        }
      }

      .footer-form {
        select {
          margin-top: 0;
        }
      }
    }
  }

}
